.footer{   

    background-color:black;
    color:white;
    font-size:20px;
    display: flex;
    justify-content: space-around;
}
.row {
    display: flex;
    justify-content: space-around;
    font-family: 'Playball', cursive;
    font-size: 75px;
}
.headshot{
    width:20%;
   
}
.mid{
    color:black;
    align-items:center;
    font-size:40px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: space-around;
    background-image: url("goldsky.jpeg");
    background-repeat: no-repeat;
    background-size: 1400px 350px
}
.aboutme{
    border:1px solid black; 
    background-color: white;
}
.title {
    font-family: 'Dancing Script', cursive;
    color: #fee5aa;
    font-size: 30px;
    text-decoration: none;
}
.info {
    font-family: 'Modern Antiqua', cursive;
    color: black;
    background-color: white;
}
#cloud {
    width: 75%;
}
a:visited {
    color: black;
}
a:link{
    color: black;
}
h1 {
    color: #facc64;
    text-shadow: white 10px 12px;
}
.headshot {
    border-radius: 25px 75px;
}
#twitter {
    width: 100px;
    height: 100px;
}
#linkedin {
    width: 200px;
    height: 100px;

}
#github {
    width:100px;
    height: 100px;
}